# Logs
*.log
logs/

# Cache files
.pytest_cache/

# Compiled files
*.pyc
__pycache__/

# Models
src/models/*.joblib

# Virtual environments
venv/

# Ignore all Excel files
*.xlsx
*.xls

# Ignore database files
*.db
*.sqlite
*.sql
*.dump

# Ignore specific directories
data/spider_data/
data/cleaned_data/

# Ignore large .sdf.gz files
*.sdf.gz

# Ignore the TCMSP-Spider directory
TCMSP-Spider/

# Ignore BFG Repo-Cleaner jar file
bfg-1.14.0.jar

# Ignore Python script for finding large files
find_large_files.py
